.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list table {
  border-spacing: 0px;
  margin-top: 1.5rem;
}

.todo-list td.icon {
  padding: 1rem 1rem;
  cursor: pointer;
}
