.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-table td {
  padding: 0.5rem 1rem;
}

.user-list td.icon {
  cursor: pointer;
}

.user-table .text-strike {
  color: #aaa;
  text-decoration: line-through;
}

form {
  max-width: 50vw;
}

button {
  margin: 1rem 1rem 1rem 0rem;
}

fieldset {
  display: flex;
  justify-content: space-around;
}

fieldset label {
  display: flex;
}
